#root {
  height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Game{
  text-align: center; 
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 25;
}

.nameChangeForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Card {
  max-width: fit-content;
  min-width: 7.5vw;
  height: 10vw;
  font-size: 1.5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  flex: 1;
  border: 3px solid black;
}

.Container {
  width: 60%;
  min-height: 10%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}

.Container .Card {
  margin: 10px;
  padding: 10px;
  flex: 1;
}

.Discard {
  width: fit-content;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.DiscardContainer {
  width:11vw;
  margin:0 10px;
  display: flex;
}

.DiscardCard {
  width: fit-content;
  height: 150px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.DiscardContainer .Card:nth-child(2) {
  position: relative;
  transform:translate(-100%,0);
  z-index: 24;
}

.Discard .Deck {
  max-width: 10vw;
  width: 7vw;
  height: 10vw;
  margin: 0 1vw;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid black;
  font-size:1.4vw;
  flex: 1;
}


.Discard{
  display:flex;

}
.NoGo {
  border: solid;
  border-width: 3px;
  border-color: black;
}

.Turn {
  border: solid;
  border-width: 3px;
  border-color: darkgreen;
}

.Chat {
  position: relative;
  bottom: 0;
  right: 0;
}

.ChatWindow {
  max-height: 100px;
  height: 100px;
  overflow: auto;
}

.StacksView {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.SubmissionView {
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.SubContainer {
  position: relative;
  width: 80%;
  min-height: 5%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
}

.SubContainer .Card {
  min-height: 5.2vh;
  min-width: 6vw;
  width: 12vw;
  font-size: 1.3vw;
}

.SelectContainer {
  position: relative;
  width: 60%;
  min-height: 10%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
}

.SelectContainer .Card {
  min-height: 5.5vh;
  min-width: 6vw;
  width: 12vw;
  font-size: 1.2vw;
}

.View {
  position: sticky;
}

.SelectView {
  display: flex;
}

.SelectView button {
  min-height: fit-content;
  height: 7vh;
  width: 10vw;
  margin: 10px;
}

.SelectView .ButtonDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Card h2:first-child {
  margin-top: 0;
}

.StackContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  width:fit-content;
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
  background-color: gray;
}

.StackContainer .Card {
  max-width: fit-content;
  min-width: 2.4vw;
  height: 4vw;
  font-size: 0.55vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin:2px;
  flex: 1;
  border: 3px solid black;
}
.Flex {
  display: flex;
}

.FlexColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FlexColumn h3{
  font-size:2vw;
}

.PhaseCard{
  width: 20vw;
  height: 15vw;
  margin: 0 1vw;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid black;
  font-size:1.4vw;
  flex: 1;
  overflow:auto;
}

.StackUnit{
  min-width: 100px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Stack{
  width:fit-content;
}

@media only screen and (max-width:700px){
  .Discard .Deck{
    font-size:0.5em;
    
    width: 20px;
    flex:1;
  }
  .DiscardContainer {
    width:12vw;
  }
  .Container{
    width:80%;
  }
  .PhaseCard{
    width:35vw;
    font-size:0.8em;
  }
  .StackContainer .Card {
    font-size: 0.3em;
    height:5vh;
    min-width: 4vw;
  }

  .FlexColumn h3{
    font-size:3vw;
  }
}